@media only screen and (min-width: 992px) {
	#root {
		gap: 2rem;
		padding: 3rem 14%;
	}
	#logo-alura {
		flex-grow: 1;
		text-align: center;
	}
	#logo-alura a {
		font-size: 6rem;
	}
	.input-panel,
	.output-panel {
		padding: 2rem;
	}
	.input-panel {
		flex-grow: 3;
		margin-top: 6rem;
	}
	.output-panel {
		flex-grow: 0.5;
	}
	#input-field,
	#output-field {
		flex-grow: 1;
	}
	#input-field {
		font-size: 2rem;
	}
	#output-field {
		font-size: 1.5rem;
	}
}
